.erm_menu {
	border-top:  solid 0px #ffffff !important; 

	.erm_footer_desc {
		border-top:  solid 0px; 
	}
	.erm_title {
		font-size:  18px; 
		font-family:  "Shrikhand", cursive; 
		font-weight:  normal; 
		margin-top:  18px; 
		margin-bottom:  18px; 
	}
}
.erm_menu_content {
	width:  100%; 
	display:  flex; 
	flex-direction:  row;
	align-items:  stretch; 
	justify-content:  space-between; 
	flex-wrap:  wrap; 
	.erm_section {
		width:  100%; 
		margin-top:  0px; 
		margin-bottom:  24px;   
		.erm_section_title {
			font-size:  36px; 
			font-family:  "Shrikhand", serif; 
			font-weight:  normal; 
			color:  $primary; 
			border-top:  solid 0px #000000; 
			border-bottom:  solid 0px #000000; 
			padding:  18px 0px; 
			
			position: relative;
			background: transparent;
			z-index: 0;
			
			transform:  skewY(-6.5deg);
			&:before {
			  content: attr(title);
			  position: absolute;
			  left: 0;
			  z-index: -1;
			  -webkit-text-stroke: 8px #000000;
			}
		}

	}
	.erm_product {
		width:  calc(50% - 10px); 
		margin-bottom:  24px;
		margin-top:  0px; 

		.erm_image_popup {
			display:  inline-block; 

			height:  140px; 
			width:  140px; 
		}
		.erm_product_title {
			font-size:  24px; 
			font-family: "Lora", serif; 

		}
		.erm_product_price, 
		.price {
			margin-top:  18px; 
			font-size:  18px; 
			font-family: "Shrikhand", cursive; 
			font-weight:  normal; 

			position: relative;
			background: transparent;
			z-index: 0;
			
			transform:  skewY(-6.5deg);
			color:  $primary; 
			&:before {
			  content: attr(title);
			  position: absolute;
			  left: 0;
			  z-index: -1;
			  -webkit-text-stroke: 8px #000000;
			}
		}
		.erm_product_desc {
			font-family:  16px; 
			font-family: "Lora", serif;
		}
		.erm_product_image {
			height:  140px; 
			width:  140px; 
			object-fit:  contain !important; 
			object-position:  center center !important; 
		}
	}
	
}