.navigation {
	display:  flex; 
	flex-direction:  row;
	align-items:  center; 
	justify-content:  center; 
	margin-top: 40px; 
	position:  absolute; 
	width:  100%; 
	z-index:  10; 
	.logo-link {
		height:  135px; 
	}
	.logo {
		height:  100%; 
		width:  auto; 
		// filter:  $drop-shadow; 
	}
	.navigation-link {
		color:  $secondary; 
		font-size:  20px; 
		font-family: "Shrikhand", cursive; 
		// filter:  $drop-shadow; 
		&:first-of-type {
			margin-right:  36px; 
		}
	}
	.left {
		margin-right:  36px; 
	}
	.right {
		margin-left:  36px; 
	}
}
.menu-trigger {
	display:  flex; 
	flex-direction:  column; 
	align-items:  center; 
	justify-content:  space-between; 
	height:  40px; 
	width:  40px; 
	padding:  12px 10px; 
	position:  fixed; 
	top:  87.5px; 
	right:  40px; 
	background-color:  $primary; 
	border-radius:  4px; 
	filter:  $drop-shadow; 
	z-index:  25; 
	box-sizing:  border-box; 
	opacity: 1; 
	div {
		width:  16px; 
		height:  4px; 
		display:  block; 
		background-color:  #000000; 
		pointer-events:  none; 

	}
}
.menu {
	height:  100vh; 
	width:  100vw; 
	max-width:  100vw; 
	position:  fixed; 
	top:  0; 
	left:  0; 
	background-color:  rgba(145,0,0, .86); 
	z-index:  20; 
	opacity:  1; 
	padding:  40px; 
	display:  flex; 
	flex-direction:  column; 
	box-sizing:  border-box; 
	.info {
		display:  flex; 
		flex-direction:  row; 
		margin-top:  auto; 
		transform-origin:  0% 100%; 
		transform:  skewY(-6.5deg);
		a,
		p { 
			color:  $primary; 
			font-family:  "Shrikhand", cursive; 
			line-height:  115%; 
			font-size:  20px; 
		}
		.info-col {
			margin-right:  20px; 
		}
		.social-col {
			display:  flex; 
			flex-direction:  column; 
		}

	}
}
.menu-options {
	display:  flex; 
	flex-direction:  column; 
	a {
		color:  $primary; 
		font-family:  "Shrikhand", cursive; 
		line-height:  115%; 
		transform:  skewY(-6.5deg);
		font-size:  40px; 
	}
}
@media screen and (max-width: 1024px) {
	.navigation {
		.left, 
		.right {
			display:  none; 
		}
		.logo-link {
			margin-right:  auto; 
			margin-left:  40px; 
		}
	}

}