.ui > article > .entry-header {
  padding:  0px 20px;   
}
.ui > article > .entry-content {
  padding:  20px; 
  & > p {
    line-height:  155%; 
    font-size:  16px; 
    width:  768px; 
    height:  auto; 
    margin-bottom:  20px; 
    & > img {
      height:  200px; 
      width:  calc(50% - 10px); 
      object-fit:  cover; 
      object-position:  center center; 
      float:  left; 
      margin-right:  10px; 
      margin-bottom:  10px; 
    }
  }
}